.uno{
    background-color: #;510bd3
    color:white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.dos {
    background-color: #dbdbdb;
    color: #6c6c6c;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
  }
  .tres {
    background-color: #dbdbdb;
    color: #6c6c6c;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    margin: 20px;
  }
.container2 {
  display:flex;
  flex-wrap:wrap;
}